HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

### Build Files ###
!**/src/main/**/target/
!**/src/test/**/target/
**/resources/public/

### Local test db ###
/schattenzorn-backend/src/main/resources/data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
schattenzorn-ui/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### UI ###
/schattenzorn-ui/package-lock.json
/schattenzorn-ui/node_modules